<!DOCTYPE html>
<html lang="pt-bt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/output.css" />

  <title>VLT Sistemas login</title>
</head>
<body class="bg-slate-300" >

  <main class="w-full min-h-screen flex flex-col md:flex-row items-center justify-center mx-auto">

    <section 
      class="hidden md:flex gap-9 w-full rounded-lg flex-1 bg-slate-50 h-screen items-center justify-center flex-col p-4"
    >
    <img
      src="assets/techs.png"
      alt="Tecnologias usadas no mercado"
      class="w-3/4 lg:w-full lg:max-w-md"
    />

    <app-principal></app-principal>

  </section>
    
    <section class="w-full rounded-lg flex-1 flex flex-col justify-center items-center p-4">

      <div class="w-full max-w-xl flex justify-center items-center flex-col gap-4">
        <img 
          src="./assets/user.png" 
          alt="Logo do usuario"
          class="w-36 hover:scale-110 duration-300"
        />
        <h1 class="text-4xl font-bold mb-7">Login</h1>


        <input 
          type="text" 
          placeholder="Digite o seu CNPJ..."
          class="w-full p-2 rounded-lg outline-none bg-gray-50 focus:bg-white"
        />

        <input 
        type="text" 
        placeholder="Digite o seu email..."
        class="w-full p-2 rounded-lg outline-none bg-gray-50 focus:bg-white"
      />

      <input 
        type="password" 
        placeholder="************"
        class="w-full p-2 rounded-lg outline-none bg-gray-50 focus:bg-white"
      />

       

        <!--<div class="w-full flex items-center justify-between">
          <div class="flex items-center gap-2">
            <input type="checkbox" />
            <label class="font-medium">Lembrar senha</label>
          </div>

          <a href="#" class="text-sky-600 hover:text-sky-500 duration-200">Esqueceu a senha?</a>
        </div> -->
        

        <button class="w-full bg-blue-600 p-2 rounded-lg text-white text-lg font-medium hover:bg-blue-500 duration-200">

              <a routerLink="/principal">Login</a>
  
        </button>
      </div>     

    </section>

  </main>
  
  
</body>
</html>